.drum-pad {
  height: 25%;
  width: 25%;
  margin: 5px;
  border-radius: 10px;
  background: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.25),
    inset -3px -3px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
}

.yellow-keys {
  background: #ffdc26;
}

.pink-keys {
  background: #e9007e;
}

.blue-keys {
  background: #22e8e8;
}

.off-keys {
  background: #999999;
}

.active-yellow {
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.25),
    inset -3px -3px 3px rgba(0, 0, 0, 0.5), 0 0 3px #fff, 0 0 6px #fff,
    0 0 10px #ffdc26, 0 0 15px #ffdc26, 0 0 20px #ffdc26, 0 0 25px #ffdc26;
}

.active-pink {
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.25),
    inset -3px -3px 3px rgba(0, 0, 0, 0.5), 0 0 3px #fff, 0 0 6px #fff,
    0 0 10px #e9007e, 0 0 15px #e9007e, 0 0 20px #e9007e, 0 0 25px #e9007e;
}

.active-blue {
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.25),
    inset -3px -3px 3px rgba(0, 0, 0, 0.5), 0 0 3px #fff, 0 0 6px #fff,
    0 0 10px #13b9b9, 0 0 15px #13b9b9, 0 0 20px #13b9b9, 0 0 25px #13b9b9;
}
